# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
%matplotlib
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

Using matplotlib backend: Qt5Agg

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [3]:
## Deliverable 1: Get a Summary DataFrame

In [4]:
#  1. Get the total rides for each city type
total_rides = pyber_data_df.groupby("type").count()
total_rides = total_rides.reset_index()
total_rides_pd = total_rides[["type","ride_id"]]
total_rides_pd = total_rides_pd.rename(columns={'type':'city', 'ride_id': 'total_rides'})
total_rides_pd

       city  total_rides
0     Rural          125
1  Suburban          625
2     Urban         1625

In [38]:
# 2. Get the total drivers for each city type
total_driver = city_data_df.groupby("type").sum("driver_count")

total_driver

          driver_count
type
Rural               78
Suburban           490
Urban             2405

In [ ]:
# total_driver = total_driver.reset_index()
# total_driver_pd = total_driver[["type","driver_count"]]
# total_driver_pd = total_driver_pd.rename(columns={"type":"city","driver_count":"total_driver"})
# total_driver_pd

In [6]:
#  3. Get the total amount of fares for each city type
total_fares = pyber_data_df.groupby("type").sum("driver_count")
total_fares = total_fares.reset_index()
total_fares_pd = total_fares[["type","fare"]]
total_fares_pd = total_fares_pd.rename(columns={"type":"city","fare":"total_fares"})
total_fares_pd

       city  total_fares
0     Rural      4327.93
1  Suburban     19356.33
2     Urban     39854.38

In [23]:
#  4. Get the average fare per ride for each city type. 
total_4 = total_rides_pd.merge(total_driver_pd,)
total_4 = total_4.merge(total_fares_pd,)
total_4["average_fare"]= total_4["total_fares"] / total_4["total_rides"]
total_4

       city  total_rides  total_driver  total_fares  average_fare
0     Rural          125           537      4327.93     34.623440
1  Suburban          625          8570     19356.33     30.970128
2     Urban         1625         59602     39854.38     24.525772

In [24]:
# 5. Get the average fare per driver for each city type. 
average_fare_per_driver = total_4["total_fares"] / total_4["total_driver"]
average_fare_per_driver

0    8.059460
1    2.258615
2    0.668675
dtype: float64

In [ ]:
#  6. Create a PyBer summary DataFrame.

In [ ]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [ ]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# 1. Read the merged DataFrame

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')